body {
    background-color: rgb(32, 32, 32);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.name {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
}

.presentation {
    text-align: justify;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding-left: 50px;
    padding-right: 50px;
}

.div {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mob {
    border-radius: 10%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.icons {
    margin-top: 1rem;
    color: #1092ff;
}

.links {
    text-decoration: none;
    color: white;
}

.links:hover {
    color: #77c2ff;
}

.pad {
    padding-left: 5%;
    padding-right: 5%;
}

h2 {
    font-size: 2rem;
}