html {
    scroll-behavior: smooth;
}

body {
    background-color: #121212 !important;
    color: rgb(231, 231, 231) !important;
    font-family: 'Rubik', 'Roboto', sans-serif !important;
}

.links {
    text-decoration: none;
    color: black;
}

.links:hover {
    color: #0063b4;
}

#presentation {
    margin-top: 50px;
}

.test {
    width: fit-content !important;
}

.blue {
    color: #77c2ff !important;
}

.blue:hover {
    color: #0063b4 !important;
}

.img-link:hover {
    opacity: 0.75;
    scale: 1.1;
}

h6 {
    color: #ffffff !important;
    opacity: 0.7;
    font-style: italic;
}

.company {
    text-decoration: none;
    font-weight: bold;
    color: #77c2ff;
}

.company:hover {
    color: #0063b4;
}

.experience-li {
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: left;
}
